@using SeminarskiRS1.ViewModels.Gradovi
@{
    ViewData["Title"] = "Prikazi";
    List<GradPrikaziVM> gradovi = (List<GradPrikaziVM>)ViewData["gradovi-kljuc"];
}

<h2 style="margin-left:350px;">Prikaz gradova</h2>

<table class="table">
    <thead>
        <tr>
            <th>Naziv grada</th>
            <th>Kanton</th>
            <th>Akcija</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var x in gradovi)
        {
            <tr>
                <td>@x.Naziv</td>
                <td>@x.Kanton</td>

                <td><a href="/Gradovi/Obrisi?GradID=@x.GradID" class="btn btn-danger">Obriši</a>
                <a href="/Gradovi/Uredi?GradID=@x.GradID" class="btn btn-info">Uredi</a></td>
            </tr>
        }
    </tbody>
</table>
<a href="/Gradovi/Dodaj" class="btn btn-success">Dodaj novi grad</a>
<a href="/Home/Index" class="btn btn-outline-info">Back</a>
