@using SeminarskiRS1.Models
@model SeminarskiRS1.ViewModels.GradUrediVM
@{
    ViewData["Title"] = "Uredi";
    Layout = "_Layout";
}


<h1>Uredi</h1>

<form action="/Gradovi/Snimi" method="post">
    @Html.AntiForgeryToken()
    @Html.HiddenFor(s => s.GradID)
    <div class="form-group">
        <label>Naziv</label>
        @Html.TextBoxFor(s => s.Naziv)
    </div>
    <div class="form-group">
        <label>Kanton</label>
        @Html.DropDownListFor(s => s.KantonID,Model.kantoni)
    </div>

    <input type="submit" value="Snimi" />
</form>
