@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<a href="/Gradovi/Prikazi">Gradovi</a>
<br />
<a href="/Drzave/Prikazi">Države</a>
<br />
<a href="/Kantoni/Prikazi">Kantoni</a>
<br />
<a href="/Vozila/Prikazi">Vozila</a>
<br />
<a href="/Uposlenici/Prikazi">Uposlenici</a>
<br />
<a href="/Servis/Prikazi">Servisi</a>
<br />
<a href="/Obavijesti/Prikazi">Obavijesti</a>
<br />
<a href="/EPunjaci/Prikazi">Punjači</a>
<br />
<a href="/ENP/Prikazi">ENP-ovi</a>
<br />
<a href="/Korisnici/Prikazi">Korisnici</a>
<br />
<a href="/Rute/Prikazi">Rute</a>
