
@{
    ViewData["Title"] = "Prikazi";
    List<Drzava> drzave = (List<Drzava>)ViewData["drzave-kljuc"];
    string error_poruka = (string)ViewData["error_poruka"];
};

<h2 style="margin-left:350px;">Prikaz država</h2>

<table class=" table tab-pane" style="text-align:left; margin-left:200px;">
    <thead style="text-align:center">
        <tr>
            <th>Naziv drzave</th>
            <th>Akcija</th>
        </tr>
    </thead>
    @foreach (var x in drzave)
    {
        <tr>
            <td hidden>@x.DrzavaID</td>
            <td>@x.Naziv</td>

            <td>
                <a href="/Drzave/Obrisi?DrzavaID=@x.DrzavaID" class="btn btn-danger">Obrisi</a>
                <a href="/Drzave/Uredi?DrzavaID=@x.DrzavaID" class="btn btn-info">Uredi</a>
            </td>
        </tr>
    }
</table>
@if (error_poruka != null)
{
    <br />

    <div class="alert alert-danger">
        @error_poruka

    </div>
}
<a href="/Drzave/DodajForm" style="margin-left:200px;" class="btn btn-success">DODAJ DRŽAVU</a>
<a href="/Home/Index" class="btn btn-outline-info">Back</a>