
@{
    ViewData["Title"] = "Unos";
    Layout = "_Layout";
}

<form action="/Drzave/Dodaj" style="margin:50px;padding:50px;align-contet:center;border:solid">
    <br /><br />
    <label style="margin-left:200px;">Unesite naziv drzave:</label><br />
    <input type="text" name="naziv" id="naziv" style="width:400px;height:30px;border-radius:10px;outline:none;margin-left:200px;" /><br />
    <br />
    <input type="submit" value="Snimi" style="width:400px;height:30px;border-radius:10px;outline:none;margin-left:200px;" />
</form>

<script>
    $("form").validate({
            rules: {
                naziv: {
                    required: true
                }

            },
            messages: {
                naziv: {
                    required: "Morate unijeti naziv drzave."
                }
            }
        });

        $("form").submit(e => {
            return $("form").valid();
        })
</script>

